*, *::after, *::before {
    font-family: 'Comic Sans MS';
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.button {
    background: black;
    color: white;
}

.center-x {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center-y {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-controls {
    margin-bottom: 2rem;
}

.mydatagrid{
    width: 80%;
    border: solid 2 px black;
    min-width: 80%;
    position: relative;
    margin-top: 30px;
    margin-left: 70px;

}
